<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<title>BANSHEE</title>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">

	<!-- Lucide Icons -->
	<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

	<!-- Chart JS -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-sankey"></script>

	<!-- Gauge JS -->
	<script src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
	
	<!-- Leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

	<!-- PDF.JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
	<script>
  		pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.worker.min.js';
	</script>
	
	    <!-- Vue.js -->
	    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
	
	    <!-- Vuetify -->
	    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
	    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<link rel="stylesheet" href="style.css">
	<link rel="icon" type="image/png" href="./favicon.png">
</head>

<body>
    <div id="app">
        <div class="header-container">
            <h1>
                BAN<span class="yellow">SHEE</span>
            </h1>
			<div id="status" :class="statusClass">
				<div class="status-dot"></div>
				<span id="status-text">{{statusText}}</span>
			</div>
		</div>

        <main>
            <div class="chat-container" id="chat">
                <div v-for="message in messages" :class="message.cssClass">
                    <component v-if="message.isComponent" :is="message.content" :data="message.data"></component>
                    <div v-else>{{ message.content }}</div>
                </div>
            </div>
        </main>

        <form class="prompt-container" @submit.prevent="sendMessage">
            <input type="text" v-model="prompt" placeholder="Écrivez un message...">
            <button type="button" class="microphone-button" @click="toggleSpeechToText">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mic"><path d="M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z"/><path d="M19 10v2a7 7 0 0 1-14 0v-2"/><line x1="12" x2="12" y1="19" y2="22"/></svg>
            </button>
            <button type="submit">Envoyer</button>
        </form>
    </div>
	
    <script src="v-components/data/v-table-component.js"></script>
    <script src="v-components/data/v-chakra-tree-component.js"></script>
	<script src="v-components/data/v-chakra-table-component.js"></script>
	<script src="v-components/data/v-chakra-list-component.js"></script>
	<script src="v-components/data/v-chakra-json-component.js"></script>

    <script src="v-components/dataviz/v-chakra-bar-chart-component.js"></script>
    <script src="v-components/dataviz/v-chakra-pie-chart-component.js"></script>
    <script src="v-components/dataviz/v-chakra-donut-chart-component.js"></script>
    <script src="v-components/dataviz/v-chakra-area-chart-component.js"></script>
    <script src="v-components/dataviz/v-chakra-line-chart-component.js"></script>
    <script src="v-components/dataviz/v-chakra-radar-chart-component.js"></script>

    <script src="v-components/text/v-chakra-paragraph-component.js"></script>
    <script src="v-components/text/v-text-path-component.js"></script>
    <script src="v-components/text/v-chakra-title-component.js"></script>
	<script src="v-components/text/v-figlet-component.js"></script>

    <script src="v-components/media/v-chakra-video-component.js"></script>
    <script src="v-components/media/v-photo-component.js"></script>
    <script src="v-components/media/v-rss-component.js"></script>
    <script src="v-components/media/v-pdf-component.js"></script>

    <script src="v-components/v-gauge-component.js"></script>
    <script src="v-components/v-progress-bar-component.js"></script>
    <script src="v-components/v-rating-component.js"></script>
    <script src="v-components/v-spark-line-component.js"></script>
    <script src="v-components/v-status-component.js"></script>
    <script src="v-components/v-geo-map-component.js"></script>
    <script src="v-components/v-sankey-component.js"></script>
    <script src="v-components/v-form-component.js"></script>
    <script src="v-components/v-error-component.js"></script>
    <script src="v-components/v-shiny-card-component.js"></script>
	
	
	<script src="v-app.js"></script>
</body>
</html>
